<nav class="side-nav">
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill"></span>
                Home
            </NavLink>
        </li>

        <li>
            <NavLink href="/fetchproducts">
                <span class="bi bi-bag-fill"></span>
                Products
            </NavLink>
        </li>

        <li>
            <NavLink href="/fun">
                <span class="bi bi-emoji-smile-fill"></span>
                Fun Facts
            </NavLink>
        </li>

        <li>
            <NavLink href="/contact">
                <span class="bi bi-person-lines-fill"></span>
                Contact
            </NavLink>
        </li>
    </ul>
</nav>
